<div id="questions_div">

<p>
Para votar nessa eleição é necessário que siga os passos abaixo:
<p>
    
<ol>
    <li> <b>Marcar</b> suas escolhas.<br />
<br />

    <li> <b>Revisar &amp; Confirmar</b> suas escolhas.<br />
</li>
<br />

    <li> <b>Depositar</b> sua cédula cifrada na urna.<br />
<span style="font-size: 14pt;">
</span>
</li>
</ol>

<div align="center"><button class="btn btn-primary" onclick="BOOTH.show_question(0);">Iniciar</button></div>
</div>
