<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="{% firstof settings.LANGUAGE_CODE 'en' %}"> <!--<![endif]-->
{% load i18n %}
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "bootstrap/css/bootstrap.min.css" %}"/>  
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "bootstrap-datepicker/css/bootstrap-datepicker3.min.css" %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css"/>
    <script language="javascript" src={% static "js/jquery-1.11.2.min.js" %}></script>
    <script language="javascript" src={% static "bootstrap/js/bootstrap.min.js"%}></script>
    <script language="javascript" src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script language="javascript" src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script language="javascript" src={% static "bootstrap-datepicker/js/bootstrap-datepicker.min.js"%}></script>
    
    {% block js %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
    <script type="text/javascript" src="{% static "js/institution.js" %}"></script>
    <script type="text/javascript" src="{% url "javascript-catalog" %}"></script>
</head>
<body>
    {% include "navbar-bootstrap.html" %} 
    <!-- Main Page Content and Sidebar -->
    <div class="container-fluid">
        {% block content %}
        {% block subcontent %}{% endblock subcontent %}
        {% endblock %}
    </div>  
</body>
</html>
