{% extends 'server_ui/templates/base.html' %}
{% load i18n %}
{% block content %}

  <h2 class="title">{% blocktrans %}
  Election {{election.name}} Already Tallied 
  {% endblocktrans %}
  </h2>

  <p>
  {% trans "This election has already been tallied (or at least the tally has begun), so you can no longer cast a vote." %}
  </p>
  
  <p>
      <a href="{% url "election@view" election.uuid %}">{% trans "view the election" %}</a>
  </p>
{% endblock %}
