{% extends 'server_ui/templates/base.html' %}
{% load i18n %}
{% block title %}{{ settings.SITE_TITLE }}{% endblock %}

{% block header %}
<h2>{{ settings.SITE_TITLE }}</h2>
{% endblock %}

{% block content %}
<!--<div class="row"><div class="large-5 columns large-centered"><a href="/"><img border="0" src="{{ settings.MAIN_LOGO_URL }}" /></a></div></div>-->
<div class="row">
  <div class="col-md-8">
    {% if settings.MASTER_HELIOS %}

      {% blocktrans %}

        <p>Helios offers <b>verifiable online elections</b>.</p>

        <p>We believe democracy is important, whether it’s your book club, parent-teacher association, student government, workers’ union, or state. So we’ve made truly verifiable elections as easy as everything else on the Web.</p>

        <p>
  Helios elections are:
  <ul class="disc">
  <li><b>private</b>: no one knows how you voted.</li>
  <li><b>verifiable</b>: each voter gets a tracking number.</li>
  <li><b>proven</b>: Helios is open-source, vetted by top-tier experts, and in use by major organizations.</li>
  </ul>
<p>
More than <b>2,000,000 votes</b> have been cast using Helios.
</p>
  {% endblocktrans %}
  {% if create_p %}
  <a class="button" href="{% url "elections@new" %}">{% trans "create an election" %}</a>
  {% endif %}
    {% else %}
    <p style="font-size: 1.4em;">
      {{settings.WELCOME_MESSAGE|safe}}
    </p>
			{% if not user or voter %}
    <div class="row">
      <div class="col-md-6">
        <a href="{{SECURE_URL_HOST}}{% url "auth@start" system_name=auth_system %}?return_url={{CURRENT_URL}}">
        <img
          src="/media/img/vote-aqui-cepe2021.png"
          class="img-responsive"
          width="400"
          alt="vote aqui" />
        </a>
      </div> <!-- col-md-6 -->
      <div class="col-md-6">
      </div> <!-- col-md-6 -->
    </div> <!-- row -->
    <div class="row">
      <div class="col-md-12 center" style="text-align:center;">
        <h2 class="" style="color:red;font-weight:bold;">ATENÇÃO</h2>

        <p>No Helios Voting (sistema de votação), o login é a matrícula e a senha é a mesma do SUAP.</p>

        <p>Caso não consiga realizar seu voto, você deve trocar sua senha pelo
        link <a href="https://suap.ifce.edu.br/comum/solicitar_trocar_senha/" target="_blank">
          https://suap.ifce.edu.br/comum/solicitar_trocar_senha/
        </a>
        Isso irá sincronizar a senha do Sistema Helios Voting.</p>

        <p>Destacamos que essa ação também trocará a senha do e-mail acadêmico.</p>
				<h3 style="color:#c8191e;font-weight:bold;">Saiba como atualizar sua senha, assista ao vídeo abaixo.</h3>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/JSBXF8r-BDQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!--
        <a href="https://suap.ifce.edu.br/comum/solicitar_trocar_senha/" target="_blank">
        <img
          src="/media/img/recuperar-senha.jpeg"
          class="img-responsive center-block"
          width="400"
          alt="vote aqui" />
        </a> -->
      </div>
    </div> <!-- row -->
    {% endif %}

    {% if elections|length %}

      {% for election in elections %}

        <a style="font-size: 1.4em;" href="{% url "shortcut@election" election.short_name %}">{{election.name}}</a>{% if settings.SHOW_USER_INFO %}<br /> {% trans "by" %} {{election.admin.pretty_name}}{% endif %}

      <br />
      {% endfor %}

    {% else %}
    {% endif %}
  {% endif %}

  </div> <!-- span10 -->

  <div class="col-md-4">
    {% if user %}
    <!--<div class="row right">{{user.display_html_big|safe}}</div>-->
    {% if create_p %}
    <a class="btn btn-primary" href="{% url "elections@new" %}">{% trans "create election" %}</a>
    <h5 class="subheader">{% trans "Administration" %}</h5>
    {% if elections_administered %}
    <ul>
    {% for election in elections_administered %}
    <li> <a href="{% url "election@view" election.uuid %}">{{election.name}}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <em>{% trans "none yet" %}</em>
    {% endif %}

    <a class="tiny button" href="{% url "elections@administered" %}">{% trans "see all" %}</a>
    {% endif %}

    <h5 class="subheader">{% trans "Recent Votes" %}</h5>
    {% if elections_voted %}
    <ul>
    {% for election in elections_voted %}
    <li><a href="{% url "election@view" election.uuid %}">{{election.name}}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <em>{% trans "none yet" %}</em>
    {% endif %}
 <a class="tiny button" href="{% url "elections@voted" %}">{% trans "see all" %}</a>
    {% else %}
      <!--{% if settings.SHOW_LOGIN_OPTIONS %}
      <h5>{% trans "Log In to Start Voting" %}</h5>
      {{login_box|safe}}
      {% else %}
      <p>
      {% blocktrans %}
      Select an election to start voting. You will be asked for your voting credentials after you complete a ballot.
      {% endblocktrans %}
      </p>
      {% endif %} -->
    {% endif %}
  </div> <!-- span2 -->

</div> <!-- end row-fluid -->
{% endblock %}
