{% load i18n %}
{% load staticfiles %}
<nav class="navbar navbar-default top-bar">
	<div class="container-fluid">
	<div class="row">

	</div>
	<div class="row top-bar-menu nav navbar"/>

	<a title="site IFCE" href="/">
	  <img class="img-responsive logo" width="300" src="/media/img/logo.png" alt="Logo IFCE" />
	</a>
</div>
</nav>
