{% load i18n %}
{% if election.voting_has_started %}
  {% if not election.voting_has_stopped %}

<div id="cast_form">
<form id="cast_confirm_form" method="post" action="" onsubmit="show_waiting()">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />

{% if status_update_label %}
<div class="round" style="background: #eee; padding: 10px; border: 1px dashed #888;">
<input type="checkbox" name="status_update" value="1" checked /> {{status_update_label}}<br />
<blockquote style="font-size: 1.3em;">
"{{status_update_message}}"
</blockquote>
<input type="hidden" name="status_update_message" value="{{status_update_message}}" />
</div>
<br />
{% endif %}
{% trans "You are logged in as" %} <u>{{voter|safe}}</u><br /><br />

    <button class="btn btn-primary" type="submit" >{% trans "CAST this ballot" %}</button>
    <button class="btn btn-danger" type="button" onclick="document.location='{% url "election@view" election.uuid %}';">{% trans "cancel" %}</button><br />
</form>

<p>
    <span style="font-size:0.8em;">{% blocktrans %}If you cancel now, your ballot will <em>NOT</em> be recorded.<br />
    You can start the voting process over again, of course.{% endblocktrans %}</span>
</p>

</div>
  {% else %}
<p>
  {% trans "voting has stopped, sorry." %}
</p>
  {% endif %}
{% else %}
<p>
  {% trans "voting has not yet begun, sorry." %}
</p>

{% endif %}

{% if not election.voting_has_started or election.voting_has_stopped %}
    <p>
        {% trans "Visit"  %}  <a href="{{ election.url }}"> {{election.name}} </a> {% trans "for more info." %}
    </p>
{% endif %}
