{% load i18n %}
{% load staticfiles %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" type="text/css" media="screen" href="{% static "bootstrap/css/bootstrap.min.css" %}"/>
  <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/custom.css" %}"/>
  <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/ui-lightness/jquery-ui-1.8.1.custom.css" %}">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700|Roboto+Mono">
  <style>
        body,input{font-family:"Roboto","Helvetica Neue",Helvetica,Arial,sans-serif}
        code,kbd,pre{font-family:"Roboto Mono","Courier New",Courier,monospace}
  </style>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


  <script src={% static "foundation/js/vendor/custom.modernizr.js" %}></script>
  <script language="javascript" src={% static "js/jquery-1.11.2.min.js" %}></script>
  <script language="javascript" src={% static "js/jquery-ui-1.8.1.custom.min.js" %}></script>
  <script language="javascript" src={% static "js/jqsplitdatetime.js" %}></script>
  <script language="javascript" src={% static "js/jquery.json.min.js" %}></script>
  <script language="javascript" src={% static "foundation/js/foundation.min.js" %}></script>

  {% block js %}
  {% endblock %}

  {% block extra-head %}{% endblock %}
  <script type="text/javascript" src="{% url "javascript-catalog" %}"></script>
</head>
<body>
  {% include "nonavbar.html" %}
  <!-- Main Page Content and Sidebar -->

  <div class="container">
      {% block content %}
        {% block subcontent %}{% endblock subcontent %}
      {% endblock %}
  </div>
  {% if user %}
      <div id="footer">
      <div class="container" id="container-footer">
      {% block footer %}
         {% trans "logged in as" %} <b>{{user.pretty_name|safe}}</b>
          <br clear="right" />
      {% endblock footer%}
      </div>
      </div>
  {% endif %}

      <script>
	$(document).foundation();
      </script>

</body>
<link rel="stylesheet" type="text/css" media="screen" href="{% static "datetimepicker/jquery.datetimepicker.css" %}"/ >
<script language="javascript" src={% static "datetimepicker/jquery.datetimepicker.full.js" %}></script>
<script language="javascript" src={% static "js/utils.js" %}></script>

</html>
