<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof settings.LANGUAGE_CODE 'en' %}">
    {% load staticfiles %}
  <head>
    <title>{% block title %}{% endblock %} - Helios</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    {% block css %}
      <!--
          <link rel="stylesheet" type="text/css"  media="screen, projection" href="{{ MEDIA_URL }}combined-{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}.css" />
      -->
      <!--<link rel="stylesheet" type="text/css" media="screen" href="/static/helios/main.css" />-->
      <link rel="stylesheet" type="text/css" media="screen" href="{% static "helios/bootstrap/css/bootstrap.min.css" %}"/>
      <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/ui-lightness/jquery-ui-1.8.1.custom.css" %}">
      
      <link type="text/css" href="{% static "css/ui-lightness/jquery-ui-1.8.1.custom.css" %}"/>
    {% endblock %}

      <script language="javascript" src="{% static "js/jquery-1.4.2.min.js" %}"></script>
      <script language="javascript" src="{% static "js/jquery-ui-1.8.1.custom.min.js" %}"></script>

      <script language="javascript" src="{% static "helios/js/utils.js" %}"></script>
    
    {% block js %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
    <script type="text/javascript" src="{% url "javascript-catalog" %}"></script>
  </head>

  <body>
    <div id="content">
        <div id="header">
        {% block header %}
        {% endblock %}
        </div>
      {% block content %}{% endblock %}
      <div id="footer">
      </div>
    </div>
    
  </body>
</html>
