{% extends TEMPLATE_BASENONAV %}
{% load i18n %}
{% block title %}Voto depositado!{% endblock %}

{% block content %}
<h2>{{election.name}}</h2>
<br>
<h4>
{# IFMA - Daniel Lima #}
{#{% blocktrans %}#}
{#    Congratulations, your vote has been <b><u>successfully cast</u></b>!#}
{#{% endblocktrans %}#}
{% if unique %}
    Voto não permitido, você já <b><u>votou anteriormente</u></b> em {{ vote_cast_at|date:"d/m/Y H:i:s" }}!
{% else %}
    Parabéns, seu voto foi <b><u>depositado com sucesso</u></b>!
{% endif %}
{# IFMA Fim #}
</h4>
<br>

<div class="alert alert-info" role="alert">
<p>
{% trans "Your smart ballot tracker is:" %}
  <tt style="font-size: 10pt;width: 10em; word-wrap: break-word; font-weight: bold; ">  {{vote_hash}}</tt>
</p>
</div>
</p>
<br><br>
{% if logout %}
<p><span>{% trans "For your safety, we have logged you out." %}</span></p>
<iframe width="0" height="0" border="0" frameborder="0" src="/auth/logout">
</iframe>
{% endif %}

{% endblock %}
