{% extends TEMPLATE_BASENONAV %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Confirm Vote" %}{% endblock %}

{% block content %}
    <script language="javascript">
        $(document).ready(function () {
            $('#waiting_div').hide();
        });

        function show_waiting() {
            $('#all_forms').hide();
            $('#waiting_div').show();
        }

        // FIXME: set this to false once it's clear how to set it back to true
        // so that it's not easy to forget to cast a ballot
        var ready_to_unload = true;

        window.onbeforeunload = function (evt) {
            if (ready_to_unload)
                return;

            if (typeof evt == 'undefined') {
                evt = window.event;
            }

            //var message = "You have not yet cast your ballot! Make sure to complete the voting process if you want your vote to count.";
            var message = "Você ainda NÃO DEPOSITOU sua cédula na urna! Se você quiser que seu voto seja considerado, então complete todo o processo";

            if (evt) {
                evt.returnValue = message;
            }

            return message;
        };

    </script>
    <div id="ballot-not-cast-yet" class="container-fluid">
        <h2>{{ election.name }}</h2>
        <h3>{% trans "Submit your Vote" %}</h3>

        <div class="alert alert-warning" role="alert">
            A sua cédula <b><u>ainda não foi depositada</u></b> na urna.
        </div>

        <div id="waiting_div">
            {% trans "Verifying and Casting your ballot" %}<br/>
            <img src="{% static "loading.gif" %}"/>
        </div>

        <div id="all_forms">
            {% if ja_votou %}
                Você não pode votar novamente.<br>
                {% trans "Your smart ballot tracker is" %} {{ voter.vote_hash }}
            {% else %}

                {% if voter %}

                    {% include "_castconfirm_docast.html" %}

                {% else %}

                    {% if show_password %}
                        {% if user %}

                        {% endif %}
                        {% with cast_ballot="1" %}
                            {% include "_castconfirm_password.html" %}
                        {% endwith %}

                    {% else %}

                        {% if user %}
                            <div class="alert alert-danger" role="alert">
                                {% if election.openreg %}
                                    {% blocktrans %}
                                        <b>Sorry, you are <em><u>not eligible</u></em> for this election.</b><br/>
                                    {% endblocktrans %}
                                {% else %}
                                    {% blocktrans %}
                                        <b>Sorry, you are <em>not registered</em> for this election, and registration is
                                            closed.</b><br/>
                                    {% endblocktrans %}
                                {% endif %}
                            </div>
                            <p>
                                <a class="btn-primary btn-lg pull-right"
                                   href="{% url "election@view" election.uuid %}">{% trans "return to the main election page" %}</a>
                            </p>
                        {% else %}
                            <p>
                                {% blocktrans %}
                                    Now, we need you to log in, so we can verify your eligibility.<br/><br/>
                                {% endblocktrans %}
                                {% if election.openreg %}

                                    {% if election.eligibility %}
                                    {% else %}
                                        {% blocktrans %}
                                            This election is open to <em>anyone</em>, so log in with your preferred
                                            account.
                                        {% endblocktrans %}
                                    {% endif %}

                                {% else %}
                                    {% blocktrans %}
                                        This election is only open to <em>registered voters</em>, so log in with
                                        the same account you registered with.
                                    {% endblocktrans %}
                                {% endif %}
                            </p>

                            {{ login_box|safe }}

                            <br/>
                            {% blocktrans %}
                                Don't worry, we'll remember your ballot while you log in.
                            {% endblocktrans %}
                        {% endif %}

                    {% endif %}
                    <br/>
                    Your smart ballot tracker is:<br/><br/>
                    <tt style="font-size:1.3em; font-weight: bold; padding-left: 20px;">  {{ vote_fingerprint }}</tt>

                    {# this closes the IF ELSE of this being password_only #}
                {% endif %}
            {% endif %}
        </div>
    </div> <!-- ballot-not-cast-yet -->
    <br>
{% endblock %}
