{% extends TEMPLATE_BASE %}
{% load i18n %}
{% block content %}
<div id="header"> 
  <h2 class="title">{% trans "Freeze Ballot" %}</h2>
  <h3 class="title">{{election.name}}</h3>
</div>
<p>
{% blocktrans %}
Once the ballot is frozen, the questions and options can no longer be modified.<br />
The list of trustees and their public keys will also be frozen.
{% endblocktrans %}
</p>

<p>
{% if election.openreg %}
{% blocktrans %}
Registration for your election is currently <b>open</b>, which means anyone can vote, even after you freeze the ballot.
{% endblocktrans %}
{% else %}
{% blocktrans %}
Registration for your election is currently <b>closed</b>, which means only the voters you designate will be able to cast a ballot. As the administrator, you will still be able to modify that voter list as the election progresses.
{% endblocktrans %}
{% endif %}
</p>    

{% if helios.VOTERS_EMAIL %}
<p>
{% blocktrans %}
You must freeze the ballot before you can contact voters.
{% endblocktrans %}
</p>
{% endif %}

{% if issues_p %}
<p>
{% blocktrans %}
    Before you can freeze the election, you will need to:
{% endblocktrans %}
    <ul>
        {% for issue in issues %}
        <li>{{issue.action}}</li>
        {% endfor %}
    </ul>
    <a href="{% url "election@view" election.uuid %}">{% trans "go back to the election" %}</a>
</p>
{% else %}
<form method="post" action="">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    

<button class="btn btn-primary">{% trans "Freeze the ballot"%}</button>
<button class="btn btn-danger" onclick="document.location='{% url "election@view" election.uuid %}'; return false;">{% trans "never mind" %}</button>
</form>
{% endif %}

<br /><br />
{% endblock %}
