{% extends TEMPLATE_BASE %}
{% load i18n %}
{% block content %}

  <h2 class="title">{{election.name}} &mdash; Update <span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">cancel</a>]</span></h2>
  
{% if error %}
<div style="color: red;">{{error}}</div>
{% endif %}

<div class="panel panel-primary">
<div id="header" class="panel-heading">
  <h3 class="title">{{election.name}}</h3>
</div>
<div class="panel-body">
  <form class="form-horizontal" role="form" action="" method="POST" id="create_election_form">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
  {% for field in election_form.visible_fields %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
     {{ field.errors }}
      <label for="{{ field.label }}" class="col-sm-2 control-label">{{ field.label }}</label>
      <div class="col-sm-10" class="form-control"> 
      {{ field }}
      {{ field.help_text }}
      </div>
    </div> 
  {% endfor %}
  <div class="pull-right">
    <button id="next_button" type="submit" class="btn btn-primary">{% trans "Update" %}</button>
    <a class="btn btn-danger" href="{% url "election@view" election.uuid %}">{% trans "Cancel" %}</a>
  </div>
  </form>
</div>
</div>
{% endblock %}
