{% extends TEMPLATE_BASE %}
{% load i18n %}
{% block title %}{% trans "Admin" %}{% endblock %}
{% block content %}
<h3>{% trans "Statistics" %}</h3>

<ul>
<li> <a href="{% url "stats@elections" %}">{% trans "elections" %}</a></li>
<li> <a href="{% url "stats@recent-votes" %}">{% trans "recent votes" %}</a></li>
<li> <a href="{% url "stats@elections-problems" %}">{% trans "recent problem elections" %}</a></li>
{#<li> <a href="{% url "helios.stats_views.admin_actions" %}">{% trans "Admin actions" %}</a></li>#}
</ul>

<p><b>{{num_votes_in_queue}}</b> {% trans "votes in queue." %} {% if num_votes_in_queue %}[<a href="{% url "stats@force-queue" %}">{% trans "force it" %}</a>]{% endif %}</p>

{% endblock %}
