{% extends TEMPLATE_BASE %}
{% load i18n %}
{% block title %}{% trans "Statistics" %}{% endblock %}
{% block content %}
<div class="col-md-12">
<h1>{% trans "Elections" %}</h1>

<p>
<form method="get" action="{% url "stats@elections" %}">
<b>{% trans "search" %}</b>: <input type="text" name="q" value="{{q}}"/>
<input class="small button" type="submit" value="{% trans "search" %}" /> <a class="small button" href="?">{%trans "clear search" %}</a>
</form>
</p>

<p>
{% if elections_page.has_previous %}
<a href="?page={{elections_page.previous_page_number}}&limit={{limit}}&q={{q|urlencode}}">{% trans "previous" %} {{limit}}</a> &nbsp;&nbsp;
{% endif %}

{% trans "Elections" %} {{elections_page.start_index}} - {{elections_page.end_index}} ({% trans "of" %} {{total_elections}})&nbsp;&nbsp;

{% if elections_page.has_next %}
<a href="?page={{elections_page.next_page_number}}&limit={{limit}}&q={{q|urlencode}}">next {{limit}}</a> &nbsp;&nbsp;
{% endif %}
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>{% trans "Election" %}</th>
	      <th>{% trans "Admin" %}</th>
	      <th>{% trans "voters / cast votes" %}</th>
	   </tr>
	  </thead>
	  <tbody>
{% for election in elections %}
<tr>
<td><b><a href="{% url "election@view" election.uuid %}">{{election.name}}</a></b></td> 
<td><a href="mailto:{{election.admin.info.email}}">{{election.admin.pretty_name}}</a> </td>
<td>{{election.num_voters}} / {{election.num_cast_votes}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
