{% extends "helios/templates/cryptobase.html" %}
{% load i18n %}
{% block content %}
  <h2 class="title">{% trans "Trustee" %} {{trustee.name}}</span></h2>
	<h2 class="title">{{election.name}}</h2>
<br /><br />
<p>
{% if trustee.public_key_hash %}

{% blocktrans %}
You have successfully uploaded your public key.<br />
Your public key fingerprint is: <b>
{% endblocktrans %}
{{trustee.public_key_hash}}</b>. <br /><br />
{% blocktrans %}You can{% endblocktrans %} <a class="btn btn-primary" href="{% url "election@trustee@check-sk" election.uuid trustee.uuid %}">{% blocktrans %}verify that you have the right secret key {% endblocktrans %}</a>
{% else %}
<a class="btn btn-primary" href="{% url "election@trustee@key-generator" election.uuid trustee.uuid %}">{% blocktrans %}setup your key {% endblocktrans %}</a>
{% endif %}
</p>
<br /><br />
<p>
{% if election.encrypted_tally %}
{% if trustee.decryption_factors %}
{% blocktrans %}
You have successfully uploaded your decryption.
{% endblocktrans %}
{% else %}
    {% blocktrans %}The encrypted tally for this election is ready.{% endblocktrans %}<br /><br />
    <a class="btn btn-primary" href="{% url "election@trustee@decrypt-and-prove" election.uuid trustee.uuid %}">{% blocktrans %}decrypt with your key{% endblocktrans %}</a>
{% endif %}
{% else %}
{% blocktrans %}
ATTENTION: Once the tally is computed, come back here to provide your secret key for decryption purposes.<br />
You should keep the email with your trustee homepage link, which contains the credentials needed to get back here.
{% endblocktrans %}
{% endif %}
</p>
{% endblock %}
